*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 171, 171);
}

#container{
    width: 280px;
    height: 370px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#container i{
    color: rgb(252, 250, 250);
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.8;
    transition: transform ease 0.5s;
}